<p id="notice"><%= notice %></p>

<h1>Hi, I'm a <%= @animal.race %></h1>

<p>My name is <%= @animal.name %></p>
<%= @animal.talk %>

<p>
<%= link_to 'See all animals', sti_animal_path %>
<%= link_to "See all #{@race.pluralize}", sti_animal_path(@animal.race) %></p>
